<p>stories works!</p>

@if (stories.length === 0) {
  <p>Không có dữ liệu</p>
}

<table border="1" cellpadding="10">
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>View</th>
    <th>Phát hành</th>
    <th>Thể loại</th>
  </tr>

  @for (story of stories; track $index) {
    <tr>
      <td>{{ story.title }}</td>
      <td>{{ story.content }}</td>
      <td>{{ story.view }}</td>
      <td>{{ story.phatHanh }}</td>
      <td>{{ story.theLoai }}</td>
    </tr>
    <td>
        <button (click)="deleteStory(story.id)">Xóa</button>
      </td>
  }

</table>